html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;

  background-image: url('./backgroundimg.jpg');
  background-size: cover;
  background-attachment: fixed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/*------------------------------- Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #fff;
}
main {
  grid-area: main;
  padding: 0 20rem;
  margin: 7rem 0;
}
footer {
  grid-area: footer;
  background-color: #1170ff;
  border-radius: 2px 0;
  color: #fff;
  margin-top: 1rem;
}
/* Comomn */
h1 {
  font-size: 2rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
a {
  color: #202080;
  text-decoration: none;
}
a:hover {
  color: yellow;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
  filter: drop-shadow(0px 2px 6px rgba(17, 17, 17, 0.07058823529411765));
}
button.primary {
  background-color: #20a020;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

.title {
  margin-left: 10%;
  font-size: 3rem;
}

/*------------------------ Header */
header a {
  color: #000;
  padding: 1rem;
}
a.brand {
  color: #1170ff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.8rem;
  font-size: 1.4rem;
  margin-left: 0.4rem;
}
header.row {
  height: 70px;
  margin: 10px 5px 0px 5px;
  border: 1px solid rgba(204, 204, 204, 1);
  filter: drop-shadow(0px 2px 6px rgba(17, 17, 17, 0.07058823529411765));
  border-radius: 2px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cart-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  body {
    font-size: 1.2rem;
  }
  main {
    grid-area: main;
    padding: 0;
    margin-top: 22px;
  }
  input,
  select,
  textarea,
  button {
    padding: 0;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4rem;
  }
  img.small {
    display: none;
  }
  .col-1 {
    margin: 3rem;
  }
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* IMAGE */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  width: 29rem;
  height: 30rem;
}
img.large {
  width: 100%;
}

/* CArd */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #202080;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/*------------------Form--------------------------------*/
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/*------------------Dropdown--------------------------------*/
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 15rem;
  padding: 1rem;
  z-index: 1;
  background-color: #f8f8f8;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*------------------Chechout steps--------------------------------*/
.checkout-steps > div {
  margin-top: 4rem;
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/*------------------TABLE--------------------------------*/
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f8f8;
}
.table tbody tr:nth-of-type() {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
  background-color: #1170ff;
  color: #fff;
}
